.point-sect { }
.point-sect .ui-tab dt { width: 115px }
.point-sect .ui-tab dd { width: 180px }
.point-sect .content { padding: 28px 8px 30px; background: #fff; border-top: 0 }
.point-sect .content .error { background: #f1f1f1; border: 2px solid #e2e2e2; margin: 28px 0; padding: 60px 0; text-align: center }
.point-sect .detail .masthead { background-color: #f1f1f1; border-width: 1px 0; border-color: #e3e3e3; border-style: solid; color: #999 }
.point-sect .detail .masthead span { display: block; float: left; border-right: 1px solid #e3e3e3; height: 32px; line-height: 32px; text-align: center; overflow: hidden }
.point-sect .detail .masthead span.right { border-right: 0 }
.point-sect .detail .item-list { margin-top: 12px; border-top: 1px solid #f1f1f1 }
.point-sect .detail .item { border-bottom: 1px solid #f1f1f1 }
.point-sect .summary { padding: 28px 0; border: 2px solid #e2e2e2; background-color: #f1f1f1; margin-top: 28px; }
.point-sect .summary .item { float: left; height: 100px; border-right: 1px solid #e2e2e2 }
.point-sect .summary .valid { width: 265px }
.point-sect .summary .expired-soon { width: 275px }
.point-sect .summary .exchange { width: 610px; border-right: 0 }
.point-sect .summary .exchange a { display: block; width: 260px; height: 44px; margin: 28px auto; line-height: 44px; background: #d83c59; color: #fff; font-size: 18px; border-radius: 3px; text-align: center }
.point-sect .summary .exchange a:hover { text-decoration: none }
.point-sect .summary span { display: block; text-indent: 60px; text-align: left }
.point-sect .summary .desc { font-size: 18px; font-weight: 700; color: #666; height: 24px; line-height: 24px }
.point-sect .summary .point { font-size: 34px; font-weight: 700; color: #288c29; height: 40px; line-height: 40px }
.point-sect .summary .date { font-size: 12px; color: #999; line-height: 24px }
.point-sect .detail { margin-top: 28px }
.point-sect .detail .why { width: 380px }
.point-sect .detail .what { width: 210px; text-align: center }
.point-sect .detail .when { width: 380px; text-align: center }
.point-sect .detail .notes { width: 180px; padding-left: 15px }
.point-sect .detail .item { padding: 20px 0 }
.point-sect .detail .item div { float: left; overflow: hidden }
.point-sect .detail .why .img { float: left; display: block; width: 60px; height: 60px; overflow: hidden; text-align: center; margin: 0 10px 0 20px }
.point-sect .detail .why .title,
.point-sect .detail .why .order-number { display: block; line-height: 20px; text-align: left }
.point-sect .detail .why .title { color: #333; width: 290px; height: 40px; overflow: hidden }
.point-sect .detail .why .order-number { height: 20px; color: #999 }
.point-sect .detail .item .what { font-size: 24px; font-weight: 700; line-height: 60px }
.point-sect .detail .what .plus { color: #b1000f }
.point-sect .detail .what .minus { color: #30992e }
.point-sect .detail .what .freezed { color: #999 }
.point-sect .detail .item .when { line-height: 60px; color: #999 }
.point-sect .detail .item .notes { line-height: 60px; color: #999 }
.point-sect .pager { margin-top: 10px }
