body,
p,
blockquote,
figure,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
menu,
dir,
ol,
dl,
dd,
fieldset,
input[type=radio],
input[type=checkbox],
input[type=range],
pre,
xmp,
plaintext,
listing { margin: 0 }
ul,
menu,
dir,
ol,
legend,
fieldset,
input,
input[type=password],
input[type=search],
isindex,
textarea,
input[type=hidden],
input[type=image],
input[type=file],
input[type=radio],
input[type=checkbox],
input[type=range],
input[type=button],
input[type=submit],
input[type=reset],
button { padding: 0 }
h1,
h2,
h3,
h4,
h5,
h6 { font-size: 100%; font-weight: 400 }
i,
cite,
em,
var,
address,
dfn { font-style: normal }
a:-webkit-any-link {
text-decoration:none
}
table { border-collapse: collapse; border-spacing: 0 }
fieldset,
iframe { border: 0 }
ol,
ul { list-style: none }
input,
textarea,
select,
button { font-family: inherit; font-weight: inherit; font-size: inherit; margin: 0 }
select,
button,
input { color: inherit }
html { -webkit-text-size-adjust: none }
html { font-size: 100px }
body {
font:.12rem/1.5 helvetica; color: #666 }
a { text-decoration: none; color: #666 }
img { border: 0 }
.mui-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap }
.mui-flex,
.mui-flex *,
.mui-flex:after,
.mui-flex:before { box-sizing: border-box }
.mui-flex.vertical { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column }
.mui-flex.vertical.reverse { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -webkit-flex-direction: column-reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse }
.mui-flex.vertical .cell { width: auto }
.mui-flex.vertical>.cell>.inner { position: absolute; width: 100%; height: 100% }
.mui-flex.horizental { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row }
.mui-flex.reverse { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse }
.mui-flex.justify-start { -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start }
.mui-flex.justify-end { -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end }
.mui-flex.justify-center { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center }
.mui-flex.justify-between { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between }
.mui-flex.justify-around { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around }
.mui-flex.align-start { -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start }
.mui-flex.align-end { -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end }
.mui-flex.align-center { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center }
.mui-flex.align-stretch { -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch }
.mui-flex.align-stretch .cell { height: auto!important }
.mui-flex.center { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center }
.mui-flex>.cell { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; width: 0; -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; max-width: 100%; display: block; padding: 0!important; position: relative }
.mui-flex>.cell.fixed { -webkit-box-flex: 0!important; -webkit-flex: none!important; -ms-flex: none!important; flex: none!important; width: auto }
.mui-flex>.cell.align-start { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start }
.mui-flex>.cell.align-end { -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end }
.mui-flex>.cell.align-center { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center }
.mui-flex>.cell.align-stretch { -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; height: auto!important }
.mui-flex .image-box { height: 0; padding-bottom: 100%; position: relative }
.mui-flex .image-box>img { width: 100%; height: 100%; display: block; position: absolute }
.mui-flex>.cell-12 { -webkit-flex-basis: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: 100%; width: auto!important }
.mui-flex>.order-12 { -webkit-box-ordinal-group: 13; -webkit-order: 12; -ms-flex-order: 12; order: 12 }
.mui-flex>.cell-11 { -webkit-flex-basis: 91.66666667%; -ms-flex-preferred-size: 91.66666667%; flex-basis: 91.66666667%; max-width: 91.66666667%; width: auto!important }
.mui-flex>.order-11 { -webkit-box-ordinal-group: 12; -webkit-order: 11; -ms-flex-order: 11; order: 11 }
.mui-flex>.cell-10 { -webkit-flex-basis: 83.33333333%; -ms-flex-preferred-size: 83.33333333%; flex-basis: 83.33333333%; max-width: 83.33333333%; width: auto!important }
.mui-flex>.order-10 { -webkit-box-ordinal-group: 11; -webkit-order: 10; -ms-flex-order: 10; order: 10 }
.mui-flex>.cell-9 { -webkit-flex-basis: 75%; -ms-flex-preferred-size: 75%; flex-basis: 75%; max-width: 75%; width: auto!important }
.mui-flex>.order-9 { -webkit-box-ordinal-group: 10; -webkit-order: 9; -ms-flex-order: 9; order: 9 }
.mui-flex>.cell-8 { -webkit-flex-basis: 66.66666667%; -ms-flex-preferred-size: 66.66666667%; flex-basis: 66.66666667%; max-width: 66.66666667%; width: auto!important }
.mui-flex>.order-8 { -webkit-box-ordinal-group: 9; -webkit-order: 8; -ms-flex-order: 8; order: 8 }
.mui-flex>.cell-7 { -webkit-flex-basis: 58.33333333%; -ms-flex-preferred-size: 58.33333333%; flex-basis: 58.33333333%; max-width: 58.33333333%; width: auto!important }
.mui-flex>.order-7 { -webkit-box-ordinal-group: 8; -webkit-order: 7; -ms-flex-order: 7; order: 7 }
.mui-flex>.cell-6 { -webkit-flex-basis: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; max-width: 50%; width: auto!important }
.mui-flex>.order-6 { -webkit-box-ordinal-group: 7; -webkit-order: 6; -ms-flex-order: 6; order: 6 }
.mui-flex>.cell-5 { -webkit-flex-basis: 41.66666667%; -ms-flex-preferred-size: 41.66666667%; flex-basis: 41.66666667%; max-width: 41.66666667%; width: auto!important }
.mui-flex>.order-5 { -webkit-box-ordinal-group: 6; -webkit-order: 5; -ms-flex-order: 5; order: 5 }
.mui-flex>.cell-4 { -webkit-flex-basis: 33.33333333%; -ms-flex-preferred-size: 33.33333333%; flex-basis: 33.33333333%; max-width: 33.33333333%; width: auto!important }
.mui-flex>.order-4 { -webkit-box-ordinal-group: 5; -webkit-order: 4; -ms-flex-order: 4; order: 4 }
.mui-flex>.cell-3 { -webkit-flex-basis: 25%; -ms-flex-preferred-size: 25%; flex-basis: 25%; max-width: 25%; width: auto!important }
.mui-flex>.order-3 { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3 }
.mui-flex>.cell-2 { -webkit-flex-basis: 16.66666667%; -ms-flex-preferred-size: 16.66666667%; flex-basis: 16.66666667%; max-width: 16.66666667%; width: auto!important }
.mui-flex>.order-2 { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2 }
.mui-flex>.cell-1 { -webkit-flex-basis: 8.33333333%; -ms-flex-preferred-size: 8.33333333%; flex-basis: 8.33333333%; max-width: 8.33333333%; width: auto!important }
.mui-flex>.order-1 { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1 }
.dt-action { position: fixed; bottom: 0; width: 100%; z-index: 1; background-color: #fff; }
.dt-action .inner { border-top: 1px solid #E5E5E5; }
.dt-action .support,
.dt-action .toshop,
.dt-action .addfav { max-width: 50px; min-width: 26px; border-right: 1px solid rgba(0,0,0,.05); }
.dt-action .cell { height: 48px; text-align: center; }
.dt-action button { border: 0; color: #fff; font-size: 15px; }
.dt-action .cart { background: #FF9500; }
.dt-action .buy { background: #DD2727; }
.dt-action .inner>div::before { display: block; width: 25px; height: 25px; margin: 1px auto 0; font-family: tm-detail-font; font-size: 20px; }
.dt-action .support::before { content: '\e60a'; }
.dt-action .toshop::before { content: '\e60a'; }
.dt-action .addfav::before { content: '\e60a'; }
.dtct-ul { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; text-align: center; font-size: .13rem;
}
.dtct-ul li { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; flex-basis: auto; flex-basis: 1px; display: block; display: -webkit-box; display: -ms-flexbox; -webkit-box-align: center; -webkit-box-pack: center; -ms-flex-pack: center; -ms-flex-align: center; -webkit-box-orient: vertical; -ms-flex-orient: vertical; height: 3em; color: #666; border-top: 2px solid transparent; position: relative }
.dtct-ul li::after { content: '\20'; position: absolute; right: 0; top: .4em; bottom: .4em; border-right: 1px solid #e5e5e5 }
.dtct-ul li:last-child::after { display: none }
.dtct-ul li.curr { border-top-color: #c40000; color: #c40000 }
.dtct-ul li b { color: #000 }
.dtcm-hd { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; background: #e7e7e7; background: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed), to(#e7e7e7)); line-height: 28px; height: 28px; overflow: hidden; margin: 12px 8px; text-align: center; color: #4e4e4e; font-weight: 700; border-radius: 5px; }
.dtcm-hd>li { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; width: 100%; border: 1px #bdc0c2 solid; border-right-width: 0; }
.dtcm-hd>li:first-child { border-top-left-radius: 5px; border-top-right-radius: 0; border-bottom-left-radius: 5px; border-bottom-right-radius: 0; }
.dtcm-hd>.curr { background: #9097a7; background: -webkit-gradient(linear, 0 0, 0 100%, from(#737b90), to(#9097a7)); color: #fff; border-color: #5a6171; border-right-width: 1px; }
.dtcm-hd>li:last-child { border-right-width: 1px; border-top-left-radius: 0; border-top-right-radius: 5px; border-bottom-left-radius: 0; border-bottom-right-radius: 5px; }
